
*{
  font-family: 'Colonna MT', Georgia, Serif;


}
header{
  padding: 20px 0px;
}
.hero {
  background: url(../images/background.jpg) no-repeat;
background-size:100%;
height: 400px;
width: 100%;
}
header ul{
text-align: center;
}
header ul li{
  display: inline-block;
color: black;
padding-right:30px;
}
.hero img{
padding: 80px  500px 20px  500px  ;

}
.hero h1{
  text-align:center;
  color: #fff;

}
.hero h2{
  text-align:center;
  color: #fff;
}
.contenido{
    background:url(../images/tile1.png);
  padding: 30px 0 ;
  margin: 10px 0;
}
.contenido img{
  border: 1px solid #726c79;
  width: 190px;
position: absolute;
  height: 240px;
  right: 0px;
  top: 37px;
}
.contenido  h3{
  color:#b51980;
  text-align: center;

}
.contenido p{

}

.gustos img{
  border-radius: 100% ;
  width:200px;
  height: 200px;
  border:2px solid #b51980;


}
.gustos p {
  color: #b51980;
  text-align: center;
}
footer{
margin: 40px 10px;
  background:#ccc url(../images/tile1.png) ;
  background-size: 100%;

  padding: 50px 0px;

}
footer .redes{

padding-left: 100px;
}
footer h2{
  color: #b51980;
  text-align:center;
  padding: 20px 0px;
}
footer .mas {
  margin-right: 1px;

}
